* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  background-color: #131C35;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: #e5f1fe;
}
